:root{
  --color1:white;
  --greenred:#4AD704;
}
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: 0.8s;
}

body {

  background: black;
  
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--greenred);
}

::selection {
  background: rgb(0, 123, 255, 0.3);
}

.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}

.navbar {
  position: relative;
  top:0;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}

.navbar.sticky {
  position:fixed;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  color: red;
  list-style-type: none;
}

.about p {
  padding-top: 20px;
  text-align: justify;
}

.icon {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

#button {
  color: var(--color1);
}

#button :hover {
  color: grey;
}

body.disabled {
  overflow: hidden;
}

.icon {
  display: block;
}

.icon.hide {
  display: none;
}

.navbar .menu-list {
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  right: -150%;
  top: 0px;
  display: block;
  padding: 40px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
}

.navbar.show .menu-list {
  right: 0%;
}

.navbar .menu-list li {
  margin-top: 45px;
}

.navbar .menu-list li a {

  text-decoration: none;
  color: white;
  font-size: 23px;
  margin-left: -100%;
  transition: 0.6s cubic-bezier(0.68,0.55, 0.265, 1.55);
}

.navbar.show .menu-list li a {
  margin-left: 0px;
}

/* logo */
.logo p {
  position: fixed;
  top:0;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin-left: 20px;
  color: var(--color1);
  animation: 3s;
}

.loader-line {
  width: 70px;
  height: 5px;
  position: fixed;
  top: 42px;
  margin-left: 45px;
  overflow: hidden;
  background-color: #ddd;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.loader-line:before {
  content: "";
  position: absolute;
  left: 0%;
  height: 5px;
  width: 65%;
  background: var(--greenred);
  -webkit-animation: lineAnim 3s linear;
  -moz-animation: lineAnim 3s linear;
  animation: lineAnim 3s linear ;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

@keyframes lineAnim {
  0% {
    left: -40%;
    width: 10%;

  }
  100%{
    
    left: 0%;
    width: 65%;
    
  }
}

@keyframes qb {
  from {
    margin-top: -50px;
  }

  to {
    margin-top: 0;
  }
}

/* * {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 800px;
  position: relative;
  
}

/* Next & previous buttons 
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right 
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color 
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
*/

.thumbnail{
  
  margin-top:130x; 
}
.thumbnailblur{
  
  background: rgba(0, 0, 0, 0.1);
  filter: blur(8px);
  -webkit-filter: blur(8px);
margin-top: 130px;
}
.thumbnail img{

  border-radius: 5px;
  border:2px solid white;
  box-shadow: 4px 4px rgba(255, 255, 255,0.3);
  margin: 10px;
}
.hide{
 display: none;
}

/* .blur{
  
 /*
  
  background: rgba(0, 0, 0, 0.1);
  filter: blur(8px);
  -webkit-filter: blur(8px);}
  */
  

@keyframes open{
  from{
    top:100%;
  }
  to{
    top:200px;
  }
}

@keyframes background{
  from{
    margin-top:0;
  }
  to{
 margin-top:100%;
  }
}
.locked{
  
  background: rgba(0, 0, 0, 0.1);
  filter: blur(8px);
  -webkit-filter: blur(8px);

}
 
.locked:before {
  position: absolute;
  content: "azlan";
  height: 1.4rem;
  width: 1.4rem;
  
}
/* ----------------------------------*/
/* dark themes */
.dark {
  
  --color1:black;
  --greenred:linear-gradient(40deg, #ff0080, #ff8c00 70%);;
  height: 100vh;
  color: black;
  background-image: linear-gradient(to bottom,#7f6bb8,rgb(91, 173, 194), #7f6bb8);

}
.switch {
 
  position: relative;
  width: 3.5rem;
  height: 2rem;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(215, 215, 228);
  transition: 0.4s;
  border-radius: 30px;
} 
.slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 20px;
  left: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.2s;
}
input:checked + .slider {
  background-color: #37393f;
}
input:checked + .slider:before {
  left: calc(100% - 1.7rem);
  background: var(--greenred);
  
}
@media screen and (max-width:610px) {
  .thumbnail{
    margin-left: 10px;
  }
  .thumbnail img{

   border: 3px solid purple;

    width:170px;
  }
  
}
/* @media screen and (min-width:500px) {
  .thumbnail img{
    border: 2px solid green;
   
    width:140px;
  }
} */
@media screen and (max-width:700px) {
  
  .thumbnail img{
    border: 3px solid red;
    margin: 30px;
   border: 3px solid purple;
    
   }
 
}

@media screen and (min-width:1000px) {
  
  .thumbnail img{
  
   margin: 30px;
  border: none;
    width:250px;
    height: 250px;
  }

  .slideshow-container{

    z-index: 1;
    animation: open 0.3s linear;
  
    top:20px;
    left: 22.5%;
    margin: 50px;
    max-width: 45%;
    position: absolute;
    margin-top: 50px;

    
    
   }

   .navbar .menu-list {
    
    max-width:40%;
   
  }
  .cancel {
    position:fixed;
   
    color: var(--greenred);
    right: 25%;
    font-size: 50px;
  }
  .cancel :hover{
  color: red;
  }
} 
.cancel {
  position:fixed;
 
  color: var(--greenred);
  margin-right: -30px;
  font-size: 50px;
}
.cancel :hover{
color: red;
}
#slide-img1,#slide-img2{
  display: none;

}
#slide-img31,#slide-img32{
  display: none;

}



/* scroll up button */
  .scrollup{
  z-index: 999;
  display: none;
  

}
  .scrollup a{
   text-decoration: none;
   border: none;
   color: white;
   position: fixed;
   left: 85%;
   border-radius: 10px;
   bottom: 10%;
   padding: 10px;
   background:var(--greenred);
   font-weight: bold;
    
  }  
  